body{
    background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

.comet {

    position: absolute;
    top: 70vh;
    left: -150px;
    width: 100px;
    animation: comet-move 20s 10s infinite;
}

@keyframes comet-move {

    to {
        transform: translate(160vw,-50vh);
        filter: hue-rotate(360deg);
    }
}

@media (min-width: 600px) {
    body{
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    }
    .comet {
        top: 90vh;
        animation: comet-move 20s 10s infinite;
    }
    @keyframes comet-move {
        to {
            transform: translate(150vw,-100vh);
            filter: hue-rotate(360deg);
        }
    }
}